@using IMM.Web.ViewModels.ShopViewModels
@model IEnumerable<ShopIndexViewModel>
@{
    ViewData["Title"] = "Shop";
}

<h2>Shop</h2>

<div class="container">
    @{
        var itemCount = 0;
        foreach (var product in Model)
        {
            bool isNewRow = itemCount % 3 == 0;

            if (isNewRow && itemCount != 0)
            {
                @Html.Raw("</div>")
            }

            if (isNewRow)
            {
                @Html.Raw("<div class=\"row\" style=\"margin-top: 20px\">");
            }

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <a asp-area="" asp-controller="Shop" asp-action="Product" asp-route-id="@product.Id" asp-route-name="@product.Name">@product.Name</a>
                        <p class="product-information">Description: @product.Description</p>
                        <p class="product-information">Category: @product.CategoryName</p>
                        <p class="product-information">Quantity: @product.Quantity</p>
                        <p class="product-information">Price: $@product.Price</p>
                    </div>
                    <div class="col-md-6">
                        <img class="float-right" src="~/images/tshirt.jpg" width="128" height="128" />
                        <button class="btn btn-success float-right" type="button">Add to cart</button>
                    </div>

                </div>
            </div>

            itemCount++;
        }
    }
</div>
